.h11 {
  font-size: 100px ;
  /* font-style: italic;
  font-family: 'Times New Roman', Times, serif; */

}

.h22 {
  color: black;
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 20px;
}

.pp{
  color:black;
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 20px;
}


/* 
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} */

.columnn {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 5px;
}

.cardd {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 80px;
  background-color: #FFCE9D;
  color: #FF4917;
}

.containers {
  padding: 0 16px;
}

.containers::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.titlee {
  color: black;
  font-size: 20px;
  /* font-family: 'Times New Roman', Times, serif; */
}

.buttonn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 5px;
  color: white ;
  background-color:#FF4917 ;
  text-align: center;
  cursor: pointer;
  width: 104%;
}

.buttonn:hover {
  background-color:#FB3D08;
}

@media screen and (max-width: 650px) {
  .columnn {
    width: 100%;
    display: block;
  }
}